/target
/src/main/resources/META-INF/persistence.xml
*.iml
*.iml
.idea/
.idea/workspace.xml
src/main/resources/META-INF/persistence.xml
src/main/resources/hibernate.properties
src/main/resources/hibernate.properties
