<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ForumSpringBoot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <div class="row">
            <div></div><div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 th:text="#{home.txtListProject}" >List of projects</h2>
                <table class="table  table-striped">
                    <tr>
                        <th th:text="#{home.title}">Title</th>
                        <th th:text="#{home.description}">Description</th>
                        <th th:text="#{home.dateCreation}">Date of creation</th>
                        <th th:text="#{home.nbtopic}">NB topic</th>
                        <th th:text="#{home.nbChildProject}">Nb child projectc</th>
                        <th th:text="#{home.goToProject}">Go to project</th>
                    </tr>
                    <tr th:each="p,iterationStatus : ${projets}">
                        <td th:text="${p.titre}"></td>
                        <td th:text="${p.description}"></td>
                        <td th:text="${#dates.format(p.dateCreation,'dd-MM-yyyy')}"></td>
                        <td th:text="${#lists.size(p.topics)}"></td>
                        <td th:text="${#lists.size(p.sousProjet)}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/projects/' + ${p.titre}+'/'}" th:text="#{home.goToProject}">Go to project</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</body>
</html>
