<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Login page</h2>
    <div th:if="${accountCreate != null}" >Welcome, your account is created. Login you now!</div>
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username and password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <div class="alert alert-info">
            <p><a href="/" th:href="@{/index.html}">You are connected go to home page</a></p>
        </div>
    </div>

    <table>
        <form action="#" th:action="@{/account/login}" th:object="${loginForm}" method="POST">
            <tr>
                <td>Enter email:</td>
                <td><input type="text" th:field="*{email}"/></td>
                <td th:if="${#fields.hasErrors('email')}" class="errors" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td>Enter password:</td>
                <td><input type="password" th:field="*{password}"/></td>
                <td th:if="${#fields.hasErrors('password')}" class="errors" th:errors="*{password}"></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </form>
    </table>

    <div th:if="${not #authorization.expression('hasRole(''ROLE_USER'')')}">
        <p><a th:href="@{/account/signup}">Not registered? Create an account</a></p>
        <a th:href="@{/oauth/google}">Login with google</a>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</body>
</html>
