<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{header.signin}">Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div></div>
    <div class="container">
            <div th:replace="fragments/header :: header"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 th:text="#{header.signin}">Login page</h2>
                <div class="alert alert-success" th:if="${accountCreate != null}" th:text="#{login.create.success}" >Welcome, your account is created. Login you now!</div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" th:text="#{email.username.invalid}">
                        Invalid email or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info" th:text="#{logout.success}">
                        You have been logged out.
                    </div>
                </div>
                <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <div class="alert alert-info">
                        <p><a href="/" th:href="@{/}" th:text="#{already.connected}">You are connected go to home page</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="#" th:action="@{/signin}" th:object="${loginForm}" method="POST">
                    <div class="form-group">
                        <label th:text="#{enter.email}">Enter email:</label>
                        <input type="text" th:field="*{email}"/>
                        <label th:if="${#fields.hasErrors('email')}" class="errors" th:errors="*{email}"></label>
                    </div>
                    <div class="form-group">
                        <label th:text="#{enter.password}">Enter password:</label>
                        <input type="password" th:field="*{password}"/>
                        <label th:if="${#fields.hasErrors('password')}" class="errors" th:errors="*{password}"></label>
                    </div>
                    <tr>
                        <td><button class="btn btn-primary" type="submit" th:text="#{submit}">Submit</button></td>
                    </tr>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${not #authorization.expression('hasRole(''ROLE_USER'')')}">
                        <p></p>
                        <p><a class="btn btn-primary"  th:href="@{/login}" th:text="#{google}">Login with google</a></p>
                        <p><a class="btn btn-primary" th:href="@{/signup}" th:text="#{create.account}">Not registered? Create an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
