<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ForumSpringBoot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div></div><div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2 th:text="${nomProjet}"></h2>
            <h2 th:text="${subject}"></h2>
            <div th:if="${follow} == false">
                <form action="#" th:action="@{'/projects/' + ${nomProjet} + '/topics/' + ${subject} + '/follow/'}" th:object="${followForm}" th:if="${#authorization.expression('isAuthenticated()')}" method="POST">
                    <input type="hidden" th:name="topic" th:id="topic" th:value="${subject}" />
                    <td><button class="btn btn-primary btn-lg" type="submit">Follow</button></td>
                </form>
            </div>
            <div th:if="${follow} == true">
                <form action="#" th:action="@{'/projects/' + ${nomProjet} + '/topics/' + ${subject} + '/unfollow/'}" th:object="${followForm}" th:if="${#authorization.expression('isAuthenticated()')}" method="POST">
                    <input type="hidden" th:name="topic" th:id="topic" th:value="${subject}" />
                    <td><button class="btn btn-primary btn-lg" type="submit">Unfollow</button></td>
                </form>
            </div>
            <h2>Messages</h2>
            <table class="table  table-striped">
                <tr>
                    <th>User</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                <tr th:each="m,iterationStatus : ${messages}">
                    <td th:text="${m.utilisateur.pseudo}"></td>
                    <td th:text="${m.message}"></td>
                    <td th:text="${#dates.format(m.date,'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<div class="container" th:if="${#authorization.expression('isAuthenticated()')}">
    <div></div><div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>New message</h2>
        <table>
            <form action="#" th:action="@{'/projects/' + ${nomProjet} + '/topics/' + ${subject} + '/'}" th:object="${messageForm}" method="POST">
                <tr>
                    <td><input type="hidden" th:name="topic" th:id="topic" th:value="${subject}" /></td>
                </tr>
                <tr>
                    <td>Enter message:</td>
                    <td><input type="text" th:field="*{message}"/></td>
                    <td th:if="${#fields.hasErrors('message')}" class="errors" th:errors="*{message}" ></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary btn-lg" type="submit">Submit</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
<div class="container" th:if="${#authorization.expression('isAuthenticated()')}">
    <div></div><div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Access</h2>
        <table>
            <form action="#" th:action="@{'/projects/' + ${nomProjet} + '/topics/' + ${subject} + '/access/'}" th:object="${readWriteForm}" method="POST">
                <tr>
                    <td><input type="hidden" th:name="topic" th:id="topic" th:value="${subject}" /></td>
                </tr>
                <tr>
                    <td>Add read user:</td>
                    <td><input type="text" th:field="*{addReadUser}"/></td>
                    <td th:if="${#fields.hasErrors('addReadUser')}" class="errors" th:errors="*{addReadUser}" ></td>
                </tr>
                <tr>
                    <td>Add write user:</td>
                    <td><input type="text" th:field="*{addWriteUser}"/></td>
                    <td th:if="${#fields.hasErrors('addWriteUser')}" class="errors" th:errors="*{addWriteUser}" ></td>
                </tr>
                <tr>
                    <td>Delete read user:</td>
                    <td><input type="text" th:field="*{deleteReadUser}"/></td>
                    <td th:if="${#fields.hasErrors('deleteReadUser')}" class="errors" th:errors="*{deleteReadUser}" ></td>
                </tr>
                <tr>
                    <td>Delete write user:</td>
                    <td><input type="text" th:field="*{deleteWriteUser}"/></td>
                    <td th:if="${#fields.hasErrors('deleteWriteUser')}" class="errors" th:errors="*{deleteWriteUser}" ></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary btn-lg" type="submit">Submit</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
</body>
</html>